<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script th:src="@{webjars/jquery/3.3.1/jquery.js}"></script>
    <script>
        $(function () {
            /**
             * get/post请求时：传递字符串参数时 可以采取两种方式
             * "param=小糊涂" ===== {"param":小糊涂}
             * 多个参数都可以扩展 其他类型的也可以转换
             */
            var ss='用户名';
            $("#b1").click(function () {
               $.ajax({
                   url:'param1',
                   type:'post',
                   data: {"param":"哈哈"},
//                   traditional:true,
                   success:function (data) {
                        alert(data);
                   }
               })
            });
            var param=[];
            param.push("xixi");
            param.push("hehe");
            /**
             * {"param":["哈哈","哈喽"]}
             * 这种方式提交默认会报错 需要添加 traditional:true,
             */
            $("#b2").click(function () {
                $.ajax({
                    url:'param2',
                    type:'get',
                    data: {"param":param},
                    traditional:true,
                    success:function (data) {
                        alert(data);
                    }
                })
            });
            /**
             * 测试对象
             * 后台直接用对象接收 传递时直接传递对象
             */
            var emps=[];
            var emp={};
            emp.name="张三";
            emp.age=18;
            emp.email="1456789@qq.com";
            var emp2={};
            emp2.name="李四";
            emp2.age=20;
            emp2.email="32453453@qq.com";
            emps.push(emp);
            emps.push(emp2);
            $("#b3").click(function () {
                $.ajax({
                    url:'param3',
                    type:'get',
                    data: emp,
//                    traditional:true,
                    success:function (data) {
                        alert(data.name);
                    }
                })
            });

            /**
             * 传递对象数组时  必须指定json格式传递对象
             * JSON.stringify 序列化对象
             * 指定  contentType:"application/json",
             * 后台用@RequestBody
             */
            $("#b4").click(function () {
                $.ajax({
                    url:'param4',
                    type:'post',
                    data: JSON.stringify(emps),
                    contentType:"application/json",
//                    traditional:true,
                    success:function (data) {
                        alert(data[1].name);
                    }
                })
            });

            $("#b5").click(function () {
                $.ajax({
                    url:'ajax',
                    type:'get',
                    data: {"ha":"万物生长"},
//                    contentType:"application/json",
//                    traditional:true,
                    success:function (data) {
                        alert(data);
                    }
                })
            });

            var obj={};
            obj.name="测试";
            var loves=[];
            loves.push("乒乓球");
            loves.push("羽毛球");
            obj.loves=loves;
            var team={
                "name":"java开发一部"
            };
            var women=[];
            var w1={
                "name":"杨贵妃"
            }
            var w2={
                "name":"林黛玉"
            }
             women.push(w1);
             women.push(w2);
             obj.team=team;
             obj.women=women;


            $("#b6").click(function () {
                $.ajax({
                    url:'param5',
                    type:'post',
                    data: JSON.stringify(obj),
//                    traditional:true,
                    contentType:'application/json',
                    success:function (data) {
                        console.log(data);
                    }
                })
            });


            $("#b7").click(function () {
                var obj=$("#user").serialize();
                console.log(obj)
                $.ajax({
                    url:'param5',
                    type:'post',
                    data: obj,
                    traditional:true,
//                    contentType:'application/json',
                    success:function (data) {
                        console.log(data);
                    }
                })
            });

            $("input[name='loves[]']").each(function () {
                alert($(this));

            })



        })
    </script>
</head>
<body>
    <h1>这是主题</h1>
    <button id="b1">测试普通字符串</button><br/>
    <button id="b2">测试数组</button><br/>
    <button id="b3">测试对象</button><br/>
    <button id="b4">测试对象集合</button><br/>
    <button id="b5">测试servlet</button><br/>
    <button id="b6">测试复杂bean</button><br/>

    表单测试复杂类型:<br>
    <form method="post" id="user" action="/param5">
        <input type="hidden" name="id" />
        姓名:<input type="text" name="name"><br>
        爱好:
        <input type="checkbox" name="loves[]" value="写作">写作
        <input type="checkbox" name="loves[]" value="发呆">发呆
        <input type="checkbox" name="loves[]" value="音乐">音乐<br>
        班级:
        <input type="team.name" /><br>
        女人:
        <input type="women.name" />
        <input type="women.name" />
        <input type="women.name" />
        <input type="submit" value="提交">
    </form>
    <br/><button id="b7">测试表单bean</button><br/>
</body>
</html>